:root {
    --green: #0eb582;
    --blue: #6c63ff;
    --pink: #ff6584;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    width: 100%;
    /* font-size: 10px; */
}

nav {
    width: 100%;
    padding: 1%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

nav .logo {
    width: 30%;
    margin-left: 2%;
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 10%;
}

nav .logo h1 {
    font-size: 2rem;
}

nav .nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: auto 10%;
}

nav .nav_links .group {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav_links .group li {
    list-style: none;
    color: #ffffff;
    font-size: 1.4rem;
}

nav .nav_links .nav_signup {
    width: 20%;
    padding: 2%;
    border: solid 1px var(--green);
    border-radius: 32px;
    background-color: #ffffff;
}

body section.hero {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    padding-top: 5%;
}

body section.hero .floating_bg {
    position: absolute;
}

body section.hero .floating_bg.bg_1 {
    height: 100%;
    top: 0;
    right: 0;
    width: 52%;
}

body section.hero .floating_bg.bg_1 img {
    width: 100%;
    height: 100%;
}

body section.hero .floating_bg.bg_2 {
    top: 0;
    right: 26%;
}

body section.hero .floating_bg.bg_3 {
    bottom: 0;
    left: 0;
}

body section.hero .floating_bg.bg_3 img {
    width: 50%;
}

body section.hero .floating_bg.arrow {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--green);
    bottom: 10%;
    left: 50%;
    transform: translate(-50, -50);
}

body section.hero .floating_bg.arrow img {
    width: 50%;
}

body section.hero .hero_left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section.hero .hero_left .content {
    width: 90%;
    margin-left: 10%;
}

body section.hero .hero_left .content h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5%;
}

body section.hero .hero_left .content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2%;
}

body section.hero .hero_left .content .hero_btn {
    background-color: var(--green);
    width: 25%;
    padding: 3%;
    margin-top: 5%;
    cursor: pointer;
    margin-bottom: 20%;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: inherit;
}

body section.hero .hero_right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    z-index: 2;
}

body section.hero .hero_right img {
    width: 70%;
}

body section.main_info {
    width: 100%;
    display: flex;
}

body section.main_info .main_info_left {
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section.main_info .main_info_left .card_div {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body section.main_info .main_info_left .card_div .card {
    width: 45%;
    padding: 5%;
    border: solid 1px red;
    margin-top: 2%;
    border-radius: 10px;
}

body section.main_info .main_info_left .card_div .card h3 {
    font-size: 1.6rem;
    color: var(--green);
    margin-bottom: 2%;
}

body section.main_info .main_info_left .card_div .card p {
    font-size: 1.3rem;
}

.moveless {
    height: 50%;
}

body section.main_info .main_info_left .card_div .card.move {
    margin-top: 10%;
}

body section.main_info .main_info_right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section.main_info .main_info_right .info {
    width: 90%;
}

body section.main_info .main_info_right .info h3 {
    font-size: 5rem;
    font-family: 'Roboto';
}

body section.main_info .main_info_right .info h3:nth-child(2) {
    color: var(--green);
}

body section.main_info .main_info_right .info h3:nth-child(3) {
    margin-bottom: 5%;
}

body section.main_info .main_info_right .info .info_career {
    width: 70%;
}

body section.main_info .main_info_right .info .info_career li {
    list-style: none;
    font-size: 1.8rem;
    font-weight: 700;
}

body section.main_info .main_info_right .info .info_career li span {
    color: var(--green);
}

body section.main_info .main_info_right .info .info_career li:nth-child(4) {
    margin-top: 5%;
}

body section.roles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section.roles .roles_left {
    width: 40%;
    padding: 5%;
}

body section.roles .roles_left .card_container {
    width: 100%;
}

body section.roles .roles_left .card_container .card {
    width: 70%;
    padding: 2% 8%;
    margin-left: 15%;
    border: solid 1px red;
    border-radius: 10px;
}

body section.roles .roles_left .card_container .card .card_img {
    width: 30%;
}

body section.roles .roles_left .card_container .card .card_img img {
    width: 40%;
}

body section.roles .roles_left .card_container .card h3 {
    font-size: 2rem;
    margin: 3% auto;
    color: var(--blue);
}

body section.roles .roles_left .card_container .card:nth-child(2) h3 {
    color: var(--pink);
}

body section.roles .roles_left .card_container .card p {
    font-size: 1.4rem;
    margin-bottom: 3%;
}

body section.roles .roles_left .card_container .card:nth-child(2) {
    margin-top: 10%;
}

body section.roles .roles_right {
    width: 60%;
    padding: 5%;
}

body section.roles .roles_right .role_message {
    width: 100%;
    margin-left: 10%;
}

body section.roles .roles_right .role_message h3 {
    font-size: 5rem;
    font-family: 'Roboto';
    margin-bottom: 2%;
}

body section.roles .roles_right .role_message h5 {
    font-size: 2rem;
    width: 70%;
}

body section.roles .roles_right .role_message h5:nth-child(3) {
    margin-bottom: 2%;
}

body section.roles .roles_right .role_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section.roles .roles_right .role_img img {
    width: 60%;
}

body section.role-cont {
    width: 100%;
    display: flex;
}

body section.role-cont .role-cont_left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section.role-cont .role_cont-left .img_cont {
    width: 80%;
}

body section.role-cont .role-cont_left .img_cont img {
    width: 80%;
}